.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  cursor: pointer;
}

h1 {
  color: rgb(134, 134, 212);
}
.smallDescription {
  text-align: center;
  align-items: center;
}

#heartIcon {
  padding-right: 10px;
  align-items: center;
  color: rgb(134, 134, 212);
}
